.listimi {
  margin-top: 10px;
  margin-left: 20px;
}

.table1 {
  margin-top: 20px;
  width: 471px;
  height: 150px;
  background: rgba(187, 204, 222, 0.4);
  border-radius: 15px;
  margin-top: 20px;
}

.deletecat {
  margin-left: 150px;
}
