.logo{
width: 400px;
}


p{
    position: absolute;
width: 279.64px;
height: 61.94px;
margin-left: 300px;
margin-top: 80px;
font-family: Raleway;
font-style: normal;
font-weight: 100;
font-size: 25px;
line-height: 29px;

color: #000000;
}